error_calculation/LR_experiments/results/
error_calculation/LR_experiments/invalidation_results/
error_calculation/LR_experiments/LR_ERR_CORR_2core_results_both_algo_12_access/
error_calculation/LR_experiments/LR_ERR_CORR_2core_results_both_algo_4_access/
error_calculation/LR_experiments/single_core_results/
error_calculation/LR_experiments/pin_traces/
error_calculation/LR_experiments/binary/
error_calculation/LR_experiments/sender_err_corr_both_algo_sender_access_and_flush_multiple_blocks/
bimodal-*core
champsim.trace*.gz
result_lru_*

